button {
    background-color: bisque;
    border-color: coral;
}

button:hover {
    background-color: brown;
}

button:active {
    background-color: antiquewhite;
}

body {
    background-color: rgb(81, 65, 141);
    background-image: url('C:/Users/ysoto/OneDrive/Desktop/GaryPics/R1.png');
    background-repeat: no-repeat;
    background-size: auto;
    color: burlywood;
    width: 1000px;
    margin: 0;
}

input[type="password"],
input[type="text"],
textarea,
select {
    background-color: bisque;
    border-color: coral;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-family: Monospace;
    letter-spacing: 20px;
    font-weight: 100;
    color: burlywood;
}

input:checked+label {
    color: brown;
}

input[type="radio"]:checked {
    box-shadow: 0 0 0 3px red;
    border: 1px solid red;
    color: brown;

}

a {
    color: burlywood;
}