button {
    background-color: bisque;
    border-color: coral;
}

body {
    background-color: rgb(81, 65, 141);
    background-image: url('C:/Users/ysoto/OneDrive/Desktop/GaryPics/R1.png');
    background-repeat: no-repeat;
    background-size: stretch;
    color: burlywood;

}

input,
textarea,
select {
    background-color: bisque;
    border-color: coral;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-family: Monospace;
    letter-spacing: 20px;
    font-weight: 100;
    color: burlywood;
}

input [type="checkbox"] {
    background-color: bisque;
    border-color: coral;
}

a {
    color: burlywood;
}