h2 {
    color: burlywood;
    font-family: Monospace;
    text-align: center;
}

h3 {
    color: burlywood;
    font-family: Monospace;
    font-size: 20px;
    text-align: center;
}

.poem {
    text-align: center;
}

a {
    color: burlywood;
    font-family: Monospace;
}

.links {
    color: burlywood;
    font-family: Monospace;
    display: inline-block;
}

.GaryFormsList {
    color: burlywood;
    font-family: Monospace;
    text-align: center;
    margin-left: 42%;
    margin-right: 50%;
}

p {
    color: burlywood;
    font-family: Monospace;
}

.imgs {
    display: inline-block;
    text-align: center;
    margin-left: 25%;
    width: 360px;
    height: 360px;
    color: black;
}

.imgs2 {
    display: inline-block;
    text-align: center;
    margin-left: 25%;
    width: 360px;
    height: 360px;
    color: black;
    margin-left: 7%;
}

hr {
    border: transparent;
}

body {
    background-color: rgb(81, 65, 141);
    width: 1500px;
    height: 1500px;
}

.body2 {
    position: center;
    background-color: brown;
    /*background-image: url('C:/Users/ysoto/OneDrive/Desktop/GaryPics/R1.png');*/
    margin-top: 1%;

}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-family: Monospace;
    letter-spacing: 10px;
    font-weight: 100;
    color: burlywood;

}

footer {
    color: burlywood;
    font-family: Monospace;
    background-color: blueviolet;
}

img {
    width: 200px;
    border-radius: 25px;
    position: 50%;

}

.header {
    display: inline-block;
}